<seller-navbar></seller-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-2 bg-dark sticky-top" id="sticky-sidebar" style="height: 100vh;">
      <div class="sticky-top">
        <seller-sidebar></seller-sidebar>
      </div>
    </div>

    <div class="col-10 order-2" style="padding-left: 20px;">
      <br><br>
      <h1 style="padding-top: 10px;">Product List Page</h1>
      <p *ngIf="authService.isLoggedIn()">
        Welcome {{ authService.currentUser.user }}
      </p>

      <hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
				  <th>Product ID</th>
				  <td>{{ product?.id }}</td>
				</tr>
				<tr>
				  <th>Shop</th>
				  <td>{{ product?.product_shop }}</td>
				</tr>
        <tr>
          <th>Product</th>
          <td>{{ product?.product_name }}</td>
        </tr>
        <tr>
          <th>Price</th>
          <td>{{ product?.product_price }}</td>
        </tr>
        <tr>
          <th>Quantity</th>
          <td>{{ product?.product_quantity }}</td>
        </tr>
        <tr>
          <th>Date</th>
          <td>{{ product?.date_created  | date }}</td>
        </tr>
				<tr>
				  <th>Description</th>
				  <td>{{ product?.product_description }}</td>
				</tr>

			</table>
		</div>
	</div>
