<shop-navbar></shop-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-2 bg-dark sticky-top" id="sticky-sidebar" style="height: 100vh;">
      <div class="sticky-top">
        <shop-sidebar></shop-sidebar>
      </div>
    </div>

    <div class="col-9 order-2" style="padding-left: 20px;">
      <br><br>
      <h1 style="padding-top: 10px;">Master Single Page</h1>
      <p *ngIf="authService.isLoggedIn()">
        Welcome {{ authService.currentUser.user }}
      </p>

      <hr>
      <div class="col-md-12">
        <div class="card card-body">
          <!-- <button (click)="open(content); addMaster()"
            type="button" class="btn btn-primary mb-2"
            data-toggle="modal" data-target="#myModal">
            Add New Master
          </button> -->
          <table class="table table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Manager</th>
              <th>Shop</th>
              <th>Master</th>
              <th>Email</th>
              <th>Date created</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
              <!-- <tr *ngFor="let master of masters"> -->
              <tr>
                <td>{{ master?.id }}</td>
                <td>{{ master?.master_manager }}</td>
                <td>{{ master?.master_shop_name }}</td>
                <td>{{ master?.master_name }}</td>
                <td>{{ master?.master_email }}</td>
                <td>{{ master?.date_created | date }}</td>
                <td>
                <button type="button"
                  (click)="open(content); editMaster(master)"
                  class="btn btn-outline-info btn-sm mr-2"
                  data-toggle="modal" data-target="#myModal">
                  Edit
                </button>
                <!-- <button (click)="open(content); deleteMaster(master)" type="button" class="btn btn-outline-danger btn-sm mr-2" data-toggle="modal" data-target="#myModal">
                  Delete
                </button> -->
                <button [routerLink]="['/show-master', master?.shop, master?.id]" type="button" class="btn btn-secondary btn-sm mr-2" data-toggle="modal" data-target="#myModal">
                  View
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <!-- MODAL WINDOW SECTION -->
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ modalTitle }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-edit-delete-master
          (submit)="modal.close('Save click')"
          [master_in]="master_in" [fake_id]="fake_id" *ngIf="activateAddEditProdComp"></app-add-edit-delete-master>
      </div>
    </ng-template>


    <!-- <hr>

    <pre>{{ closeResult }}</pre> -->

  </div>
</div>
