<shop-navbar></shop-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-2 bg-dark sticky-top" id="sticky-sidebar" style="height: 100vh;">
      <div class="sticky-top">
        <shop-sidebar></shop-sidebar>
      </div>
    </div>

    <div class="col-10 order-2" style="padding-left: 20px;">
      <br><br>
      <h1 style="padding-top: 10px;">Product List Page</h1>
      <p *ngIf="authService.isLoggedIn()">
        Welcome {{ authService.currentUser.user }}
      </p>

      <hr>
      <div class="card card-body">
        <table class="table table-sm">
          <tr>
            <th>Seller ID</th>
            <td>{{ seller?.id }}</td>
          </tr>
          <tr>
            <th>Shop</th>
            <td>{{ seller?.seller_shop }}</td>
          </tr>
          <tr>
            <th>Seller</th>
            <td>{{ seller?.seller_name }}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{ seller?.seller_email }}</td>
          </tr>
          <tr>
            <th>Date created</th>
            <td>{{ seller?.date_created | date }}</td>
          </tr>

        </table>
      </div>
    </div>
	</div>
</div>
